@charset "utf-8";
/* CSS Document */



.overlay3 {
height: 100%;
position: fixed;
z-index: 999;
top: 0;
left: 0;
background-color: rgba(0,0,0, 0.9);
overflow-y: auto;
overflow-x: hidden;
text-align: center;
transition: opacity 1s;
}

 
 
#mainContent {
    transition: margin-left .5s;
 
}


@media (max-width: 767px){
	
	
.header .menu-bar .container{
	padding-left:0;
 
}

.side_nav{
width: 250px;
position:absolute;
left:0;
/*height: 100vh;*/
padding-right: 15px;
padding-left: 15px;
background-color: #fff;
top: 0;
z-index: 999;
margin-top: 0;
max-height: 400px;
overflow-y: scroll;
	
}
 
 
 .side_nav .navbar-nav{
	 margin: 0 -15px;
 }
 
 
 
 #mainContent{
	 display:block;
 }

.navbar-toggle{
/*margin: 8px 15px 8px 8px;*/
margin: 0 8px 0 0;
float:right;
/*background-color: #d5f2c9;*/
border: none;
padding: 10px 5px;
border-radius: 0;
	
}
.toggle-bar,
.toggle-bar::before,
.toggle-bar::after,
.toggle-wrap.active .toggle-bar,
.toggle-wrap.active .toggle-bar::before,
.toggle-wrap.active .toggle-bar::after {
	-webkit-transition: all .2s ease-in-out;
	-moz-transition: all .2s ease-in-out;
	-o-transition: all .2s ease-in-out;
	transition: all .2s ease-in-out;
}
.toggle-bar {
	width: 20px;
    margin: 0;
    position: relative;
   border-top: 2px solid  #eb1f29;
    display: block;

}
}
.toggle-bar::before,
.toggle-bar::after {
content: "";
display: block;
background-color: #eb1f29;
height: 2px;
width: 20px;
position: absolute;
top: -8px;
-ms-transform: rotate(0deg);
-webkit-transform: rotate(0deg);
transform: rotate(0deg);
-ms-transform-origin: 13%;
-webkit-transform-origin: 13%;
transform-origin: 13%;
}
.toggle-bar::after {
  top: 4px;
}
.toggle-wrap.active .toggle-bar {
  border-top: 6px solid transparent;
}
.toggle-wrap.active .toggle-bar::before {
	-ms-transform: rotate(45deg);
	-webkit-transform: rotate(45deg);
	transform: rotate(45deg);
}
.toggle-wrap.active .toggle-bar::after {
	-ms-transform: rotate(-45deg);
	-webkit-transform: rotate(-45deg);
	transform: rotate(-45deg);
}
}

