ul, li, a  {margin: 0; padding: 0; }

a {text-decoration: none;}

.toggleMenu {
    display:none; width:96%;
    background: #373833;
    padding: 10px 2%;
    color: #fff; font-size:12pt; font-weight:700;
	text-align:center;
}
.nav {
    list-style: none;
     *zoom: 1;
}
.nav:before,
.nav:after {
    content: " "; 
    display: table; 
}
.nav:after {
    clear: both;
}
.nav ul {
    list-style: none;
    width: 185px;
}
.nav a {
    padding: 10px 20px;
    color:#515151;
	font-size:13pt; text-transform:uppercase; font-family: 'Source Sans Pro', sans-serif;
}
.nav a:hover {
    background:#f2f2f2; color:#515151;
}
.nav li {
    position: relative;
}
.nav > li {
    float: left;
}
.nav > li > .parent {
    
    background-repeat: no-repeat;
    background-position: right;
}
.nav > li > a {
    display: block;
}
.nav li  ul {
    position: absolute;
    left: -9999px;
}
.nav > li.hover > ul {
    left: 0;
}
.nav li li.hover ul {
    left: 100%;
    top: 0;
}
.nav li li {
    border-right:none;
}
.nav li li a {
    display: block; padding:8px 20px;
    background: #f6f6f6; 
    position: relative;
    z-index:1000000;
	font-size:11pt; color:#515151;
}
.nav li li a:hover {
    background: #e52306; color:#fff;
}
.nav li li li a {
    background:#f6f6f6;
    z-index:200;
}

@media screen and (max-width: 768px) {
    .active {
        display: block;
    }
    .nav > li {
        float: none;
    }
    .nav > li > .parent {
        background-position: 95% 50%;
    }
    .nav li li .parent {
        background-repeat: no-repeat;
        background-position: 95% 50%;
    }
    .nav ul {
        display: block;
        width: 100%;
    }
   .nav > li.hover > ul , .nav li li.hover ul {
        position: static;
    }

}