.section-quoteform {
    
}
.section-quoteform input {
    width: 100%;
    padding: 10px 15px;
    border: none;
}
.section-quoteform #send_message, #send_message2 { 
    color: #fff;
    background: #000;
    width: 100% !important;
}
.freequoteform h2, .freequoteform p {
    padding-left: 15px;
    color: #60bb21;
}
#contact_form_holder { 
    font-family: 'Verdana'; 
    font-variant: small-caps; 
}
#contact_form_holder input {
    width: 100%;
}
#contact_form_holder p {
    margin-bottom: 0;
}
#contact_form_holder input.formemail {
}
#contact_form_holder input, #contact_form_holder textarea { 
    font-family:inherit; /* we must set this, because it doesn't inherits it */ 
    padding:8px;
    margin: 8px 0;
    background: transparent;
    border: 1px solid #60bb21;
}
#contact_form_holder textarea { 
    height:100px; /* i never liked small textareas, so make it 100px in height */
    width: 100%;
}
#contact_form_holder input[type="submit"]
{
    background: #60bb21;
}
#send_message, #send_message2 { 
   
    font-variant: small-caps; /* nicer font-variant (like explained before) */  
    cursor:pointer;
    color: #fff;
    border: none;
    background: #333333;
    padding: 15px !important;
}
#cf_submit_p { } /* show the submit button aligned with the right side */

.error { display: none; padding:10px; color: #D8000C; font-size:12px;background-color: #FFBABA;}
.success { display: none; padding:10px; color: #044406; font-size:12px;background-color: #B7FBB9;}

#contact_logo { vertical-align: middle; }
.error img { vertical-align:top; }

::-webkit-input-placeholder { /* Chrome/Opera/Safari */
  color: #60bb21;
}
::-moz-placeholder { /* Firefox 19+ */
  color: #60bb21;
}
:-moz-placeholder { /* Firefox 18- */
  color: #60bb21;
}