* {
	padding: 0;
}
body {
	margin: 0;
	padding: 0;
	overflow-x:hidden;
}
img {
	max-width: 100%;
}
.container {
	width:100%;
	max-width:1170px;
	padding:0;
	margin:0 auto;
}
a:hover, .btn:hover {
	color:inherit;
}
a:focus, .btn:focus {
	outline: none !important;
	text-decoration: none !important;
}
.btn:focus, button:focus, input[type="submit"]:focus {
	opacity:0.7;
	color:#fff;
}
.btn {
	text-transform:uppercase;
	color: #244e82;
	display:inline-block;
	text-shadow:none;
	padding: 10px 30px;
	border-radius:0;
	background-color: transparent;
	border:1px solid #244e82;
	transition: all 0.4s ease-in-out 0s;
	-moz-transition: all 0.4s ease-in-out 0s;
	-o-transition: all 0.4s ease-in-out 0s;
	-webkit-transition: all 0.4s ease-in-out 0s;
	-ms-transition: all 0.4s ease-in-out 0s;
	position:relative;
	margin-top:30px;
}
.btn:before {
	position:absolute;
	left:0;
	font-family: 'FontAwesome';
	margin-left: 10px;
}
.btn:after {
	position:absolute;
	right:0;
	font-family: 'FontAwesome';
	margin-right: 10px;
}
.read_btn {
	background-color: #0093d9;
	color: #fff;
	border: 1px solid transparent;
}
.btn_clear {
	margin-top:10px;
}
.read_btn:after {
	content: "\f101";
}
.btn:hover {
	border:1px solid transparent;
	color:#ffffff;
	background-color: #244e82;
	transition: all 0.4s ease-in-out 0s;
	-moz-transition: all 0.4s ease-in-out 0s;
	-o-transition: all 0.4s ease-in-out 0s;
	-webkit-transition: all 0.4s ease-in-out 0s;
	-ms-transition: all 0.4s ease-in-out 0s;
}
.btn-default {
	margin-top:20px;
}
.slide_btn {
	font-weight: 600;
	padding: 10px 30px;
	color: #00c7fe;
	border: 1px solid #00c7fe;
	background-color: transparent;
	border-radius: 20px;
	margin-top: 20px;
}
.welcome_btn {
	font-weight: 600;
	padding: 10px 30px;
	color: #fff;
	border: 1px solid transparent;
	background-color: #00c7fe;
	border-radius: 20px;
	margin-top: 20px;
}
.button_bar {
	margin:30px 0;
}
.btn_center {
	text-align:center;
}
.btn-submit {
	display: block;
	width: auto;
	font-size: 14px;
	padding: 10px 20px;
	transition: all 0.4s ease-in-out 0s;
	-moz-transition: all 0.4s ease-in-out 0s;
	-webkit-transition: all 0.4s ease-in-out 0s;
	border:1px solid #f96922;
	color: #f96922;
}
.btn-submit:hover {
	transition: all 0.4s ease-in-out 0s;
	-moz-transition: all 0.4s ease-in-out 0s;
	-webkit-transition: all 0.4s ease-in-out 0s;
	background-color:#f96922;
	color:#fff;
	border: 1px solid transparent;
}
.btn-submit:before {
	font-family: 'FontAwesome';
	position: absolute;
	left: 0;
	margin-left: 10px;
}
.btn-submit:after {
	font-family: 'FontAwesome';
	position: absolute;
	right: 0;
	margin-right: 10px;
}
input:focus, button:focus, select:focus, textarea:focus {
	outline:none !important;
}
input[type="date"], input[type="time"], input[type="datetime-local"], input[type="month"] {
	line-height:normal;
}
 [type="date"]::-webkit-inner-spin-button {
 display: none;
}
[type="date"]::-webkit-calendar-picker-indicator {
 opacity: 0;
}
a:hover {
	text-decoration: none !important;
}
input, button, select, textarea {
	border-radius:0;
}
.navbar {
	min-height:0;
	margin:0;
	border:none;
	border-radius:0;
}
iframe {
	max-width: 100%;
	width: 100%;
	z-index:1;
}
address, article {
	margin:0;
	padding:0;
}
ul {
	list-style: none;
	margin-bottom:0;
}
.clear {
	clear:both;
}
.clear_tp {
	margin-bottom:30px;
}
.clearfix {
	overflow: auto;
}
.clearfix::after {
	content: "";
	clear: both;
	display: table;
}
.flt_lft {
	float:left;
	margin-right: 20px;
}
.flt_rht {
	float:right;
	margin-left:20px;
}
.img-circle {
	/*	text-align: center;*/
	border-radius:0;/*background: red;*/
}
.img-circle img {
	border-radius: 50%;
	-ms-border-radius: 50%;
	-o-border-radius: 50%;
	-moz-border-radius: 50%;
	-webkit-border-radius: 50%;
	width:172px;
	height:172px;
}
author {
	font-weight:500;
	font-size:14px;
	display:block;
}
author span {
	display:block;
	font-weight: 400;
}
span.time {
	display:block;
}
author small {
	font-size:14px;
	font-weight:500;
}
article, aside, details, figcaption, figure, footer, header, hgroup, main, nav, section, summary {
	display: block;
}
h1, h2, h3, h4 {
	font-family: 'Open Sans', sans-serif;
	margin: 10px 0;
}
h5, h6, li, b, p, strong, div, button, input, date, figcaption, textarea, i, em, label, small, time, span, a, td, th {
	font-family: 'Open Sans', sans-serif;
}
b {
	color:#0e0000;
}
figcaption {
	line-height: 24px;
}
.form-control {
	font-weight:400;
	color:#000;
}
 .form-control::placeholder {
 color: #9A9A9A;
 font-size:14px;
 opacity: 1;
font-weight: 400;
}
 .form-control::-moz-placeholder {
 color: #9A9A9A;
 font-size:14px;
 opacity: 1;
font-weight: 400;
}
textarea.form-control {
	resize:none !important;
	height: 160px;
}
label {
	display:block;
}
.center {
	text-align: center;
}
.inline_title {
	display:inline-block;
	vertical-align:middle;
}
.title_center {
	margin:25px auto;
	text-align:center;
}
.title_bar {
	margin-bottom:20px;
}
h1 {
	font-size:36px;
}
h2 {
	font-size:30px;
}
h3 {
	font-size: 24px;
}
h4, .h4 {
	font-size: 18px;
	font-weight:400;
}
h5, .h5 {
	font-size: 14px;
}
h1.section_title {
	color:#01305c;
	position:relative;
	padding: 0 0 10px;
	font-weight: 700;
	margin-bottom: 20px;
	margin-top:0;
	overflow: hidden;
}
h1.section_title:after {
	content: "";
	position: absolute;
	left: 0;
	height: 4px;
	width: 35px;
	bottom: 0px;
	background-color: #00c7fe;
}
h3.footer_title {
	color:#fff;
	text-transform:uppercase;
	position:relative;
	padding: 0 0 10px;
	font-weight: 700;
	margin-bottom: 20px;
	margin-top:0;
	overflow: hidden;
}
h3.footer_title:after {
	content: "";
	position: absolute;
	left: 0;
	height: 4px;
	width: 35px;
	bottom: 0px;
	background-color: #00c7fe;
}
h1.section_title.center:after {
	left:50%;
	transform: translateX(-50%);
}
h2.center:after {
	left: 50%;
	transform: translateX(-50%);
	-moz-transform: translateX(-50%);
	-webkit-transform: translateX(-50%);
}
h1.big_font {
	font-size:100px;
}
h2.section_title {
}
.white_txt {
	color:#fff !important;
}
h1.breadCrumb_title {
	color:#fff;
	text-transform:uppercase;
	margin: 0;
}
h2.breadCrumb_title {
	color:#fff;
	text-transform:uppercase;
	margin: 0;
}
.quote {
	color:#636363;
}
p {
	font-size:15px;
	color: #111;
}
p.margin {
	margin-bottom: 20px;
}
p.section_quote {
	color:#475766;
}
p.section_heading {
	color:#6a7a83;
}
.animatable {
	visibility: hidden;
	-webkit-animation-play-state: paused;
	-moz-animation-play-state: paused;
	-ms-animation-play-state: paused;
	-o-animation-play-state: paused;
	animation-play-state: paused;
}
.map {
	margin-bottom: -6px;
}
.gmap_canvas {
	overflow: hidden;
	background: none !important;
	height: auto;
	width: auto;
}
.map iframe {
	width: 100%;
}
.txt_wrapper {
	line-height:24px;
}
.section_wrapper {
	padding-top: 30px;
	padding-bottom: 30px;
}
.pad_top {
	padding-top:30px;
}
.pad_btm {
	padding-bottom:30px;
}
.mar_top {
	margin-top:30px;
}
.mar_btm {
	margin-bottom:30px;
}
.inner_content {
	margin: 30px auto;
}
.row_holder {
	margin: 30px -15px;
}
.thumbnail_image {
	max-width: 360px;
	max-height:400px;
	overflow: hidden;
	display: flex;
	display: -webkit-flex;
	align-items: center;
}
.thumbnail_lft {
	float: left;
	margin-right: 20px;
	max-width: 555px;
	max-height: 410px;
	overflow: hidden;
}
.thumbnail_rht {
	float:right;
	margin-left: 20px;
	max-width: 555px;
	max-height: 410px;
	overflow: hidden;
}
.thumbnail_txt {
	overflow:visible;
}
.thumbnail_big {
	max-width: 640px;
	max-height: 390px;
	margin-right: 50px;
	overflow: hidden;
	display: flex;
	display: -webkit-flex;
	align-items: center;
	justify-content: center;
}
.thumbnail_full {
	max-height:340px;
	overflow: hidden;
	display: flex;
	display: -webkit-flex;
	align-items: center;
	justify-content: center;
}
.thumbnail_full img {
	width:100%;
}
/*HEADER CSS STARTS*/

.header {
	position: relative;
}
.navigation-bar {
	transition: all 0.4s ease-in-out 0s;
	-moz-transition: all 0.4s ease-in-out 0s;
	-o-transition: all 0.4s ease-in-out 0s;
	-webkit-transition: all 0.4s ease-in-out 0s;
	-ms-transition: all 0.4s ease-in-out 0s;
	padding: 10px 0;
	background-color: #fff;
}
.header .logo_holder {
	max-width: 300px;
}
.logo_holder img {
	max-width: 200px;
	width:100%;
	transition: all 0.4s ease-in-out 0s;
	-moz-transition: all 0.4s ease-in-out 0s;
	-o-transition: all 0.4s ease-in-out 0s;
	-webkit-transition: all 0.4s ease-in-out 0s;
	-ms-transition: all 0.4s ease-in-out 0s;
}
.fixNav {
	position: fixed;
	top: 0;
	transition: all 0.9s ease-in-out 0s;
	-moz-transition: all 0.9s ease 0s;
	-webkit-transition: all 0.9s ease 0s;
	-o-transition: all 0.9s ease 0s;
	-ms-transition: all 0.9s ease 0s;
	width: 100%;
	z-index: 999;
}
.fixNav .logo_holder img {
	width: 40%;
	transition: all 0.4s ease-in-out 0s;
	-moz-transition: all 0.4s ease-in-out 0s;
	-o-transition: all 0.4s ease-in-out 0s;
	-webkit-transition: all 0.4s ease-in-out 0s;
	-ms-transition: all 0.4s ease-in-out 0s;
}
/*HEADER CSS ENDS*/

 
/*====push up style starts=====*/

#back-top {
	bottom: 30px;
	position: fixed;
	right: 20px;
	z-index: 99;
}
#back-top a {
	border-radius: 50%;
	color:#fff;
	display: block;
	height: 50px;
	width: 50px;
	line-height: 50px;
	text-align: center;
	text-decoration: none;
	text-transform: none;
	transition: all 0.2s ease 0s;
	-moz-transition: all 0.2s ease-in-out 0s;
	-o-transition: all 0.2s ease-in-out 0s;
	-webkit-transition: all 0.2s ease-in-out 0s;
	-ms-transition: all 0.2s ease-in-out 0s;
	box-shadow: 0px 0px 1px 1px rgba(64, 43, 43,0.5);
}
#back-top a:hover {
	transition: all 0.2s ease 0s;
	-moz-transition: all 0.2s ease-in-out 0s;
	-o-transition: all 0.2s ease-in-out 0s;
	-webkit-transition: all 0.2s ease-in-out 0s;
	-ms-transition: all 0.2s ease-in-out 0s;
}
#back-top i {
	font-size: 24px;
	color: #111;
}
/*=======push up style ends======*/
 

 
/*===============Gallery style starts here==================*/

.image-set {
	overflow:hidden;/*background:red;*/
}
.image-set figure {
	max-width: 300px;
	max-height: 300px;
	overflow: hidden;
	position:relative;
	display: flex;
	display: -webkit-flex;
	align-items: center;
	justify-content: center;
}
.image-set a img {
	/*width:auto;*/
	width:100%;
}
.image-set figure:before {
	content: "\f065";
	font-family: 'FontAwesome';
	font-size: 20px;
	color:#fff;
	padding: 3px 0;
	position:absolute;
	z-index:9;
	top:50%;
	left:50%;
	transform:translate(-50%, -50%);
	-webkit-transform:translate(-50%, -50%);
	-moz-transform:translate(-50%, -50%);
	opacity:0;
	visibility:hidden;
	transition: all 0.1s ease-in-out 0s;
	-moz-transition: all 0.1s ease-in-out 0s;
	-webkit-transition: all 0.1s ease-in-out 0s;
}
.image-set figure:hover:before {
	opacity:1;
	visibility:visible;
	transition: all 0.1s ease-in-out 0s;
	-moz-transition: all 0.1s ease-in-out 0s;
	-webkit-transition: all 0.1s ease-in-out 0s;
 -o-transform: transition: all 0.3s ease-in-out 0s;
}
.image-set figure:after {
	content:'';
	position:absolute;
	background-color: rgba(34, 79, 128,0.7);
	height:0%;
	width:100%;
	top:0;
	left:0;
	opacity:0;
	visibility:hidden;
	transition: all 0.4s ease-in-out 0s;
	-moz-transition: all 0.4s ease-in-out 0s;
	-webkit-transition: all 0.4s ease-in-out 0s;
}
.image-set figure:hover:after {
	opacity:1;
	visibility:visible;
	height:100%;
	transition: all 0.4s ease-in-out 0s;
	-moz-transition: all 0.4s ease-in-out 0s;
	-webkit-transition: all 0.4s ease-in-out 0s;
}
.image-set span {
	display: block;
	transition: all 0.4s ease-in-out 0s;
	-moz-transition: all 0.4s ease-in-out 0s;
	-webkit-transition: all 0.4s ease-in-out 0s;
}
.image-set span:after {
	position: absolute;
	content: "";
	top: 2%;
	left: 2%;
	border: 1px solid #ebfdea;
	opacity:0;
	visibility:hidden;
	height: 96%;
	width: 96%;
	transition: all 0.4s ease-in-out 0s;
	-moz-transition: all 0.4s ease-in-out 0s;
	-webkit-transition: all 0.4s ease-in-out 0s;
}
.image-set span:hover:after {
	opacity:1;
	visibility:visible;
}
/*===========Gallery style ends here=============*/
  
 
.full_width_banner {
	max-height: 500px;
	overflow: hidden;
	margin-bottom: 10px;
}
.full_width_banner img {
	width:100%;
}
.breadCrumbNav {
	padding:15px;
	background-color: #00c7fe;
	text-align: center;
}
.copyright {
	padding: 30px 0;
	overflow:hidden;
 
	text-align: center;
}
.copyright p {
	margin-bottom: 0;
	color:#fff;
}
.copyright p .company_link {
	color:#fff;
	font-weight:600;
}
.copyright p .company_link:hover {
	text-decoration:underline !important;
}
.copyright p.flt_lft span {
	color:#1e8bcc;
}
