 @media (min-width: 1601px) {
.carousel-inner .item img {
	width:100%;
	height:auto;
}
.owl-item .item figure {
	max-height:none;/*	max-width:none;*/
}
.owl-item .item img {
/*	width:100%;*/
}
.modal-dialog {
	width:auto;
	max-width:none;
}
}
 @media (max-width: 1600px) {
}
 @media (max-width: 1349px) {
}
 @media (max-width: 1349px) and (min-width: 1200px) {
}
 
/* Large Devices, Wide Screens */

@media (max-width: 1199px) {
h1 {
	font-size:30px !important;
}
h2 {
	font-size:26px !important;
}
h3 {
	font-size:22px !important;
}
.carousel-inner .item {
/*height:auto;*/
}
.container {
	padding:0 15px;
}
#banner_board #owl-demo figure {
	display: flex;
	display: -webkit-flex;
}
#banner_board #owl-demo img {
	width: auto;
}
}
 @media (max-width: 1199px) and (min-width: 992px) {
}
 @media (max-width: 1199px) and (min-width: 768px) {
}
 @media (max-width: 1024px) {
}


/* Medium Devices, Desktops */

@media (max-width: 991px) {
h1 {
	font-size:26px !important;
}
h2 {
	font-size:23px !important;
}
h3 {
	font-size:20px !important;
}
#billboard .carousel-control {
	display:none;
}
.wrapper {
	padding-top: 15px;
	padding-bottom: 15px;
}
.service_wrapper .col {
	padding:0;
}
.team_content .col {
	width:33%;
}
}
 @media (max-width: 991px) and (min-width: 768px) {
}
 @media (max-width: 880px) {
}
 @media (max-width: 800px) {
}

 /* Small Devices, Tablets */
 
@media (max-width: 767px) {
h1 {
	font-size:23px !important;
}
h2 {
	font-size:21px !important;
}
h3 {
	font-size:19px !important;
}
h4 {
	font-size:17px !important;
}
.thumbnail_lft, .thumbnail_rht {
	float:none;
	max-width: none;
	/*max-height: 230px;*/
	margin: 0 0 20px;
}
.flt_lft, .flt_rht {
	float: none;
	margin-left:0;
	margin-right:0;
	margin-bottom:20px;
}
.navigation-bar .container {
	padding:0;
}
.navigation-bar .navbar-inverse {
	padding: 0 0 0 15px;
}
.logo_holder img {
	/*width: 50%;*/
}
.fixNav .logo_holder img {
	width: 100%;
}
#banner_board .slide-caption {
	position:static;
	transform:none;
	width: 100%;
	padding: 10px;
}
#banner_board .owl-pagination {
	display:none;
}
#back-top a {
	height: 30px;
	width: 30px;
	line-height: 30px;
}
.service_wrapper .col, .project_wrapper .col, .team_content .col, .gallery_content .col {
	width:49%;
}
.welcome_img {
	display: block;
	width: 100%;
}
.welcone_caption {
	margin-top:10px;
	display: block;
	width: 100%;
}
}
 @media (max-width: 640px) {
h1 {
	font-size:22px !important;
}
h2 {
	font-size:20px !important;
}
h3 {
	font-size:18px !important;
}
h4 {
	font-size:17px !important;
}
.top-bar {
	background: linear-gradient(to bottom, #00c7fe 50%, #01305c 50%);
}
.slogan_bar, .top_contact_bar, .top_contact_bar .icon {
	display:block;
	width: 100%;
	padding: 5px;
}
.top_contact_bar address {
	float:none;
}
}
 @media (max-width: 600px) {
}
 @media (max-width: 560px) {
}
 @media (max-width: 520px) {
}
 
/* Extra Small Devices, Phones */ 
@media (max-width: 480px) {
h1 {
	font-size:21px !important;
}
h2 {
	font-size:19px !important;
}
h3 {
	font-size:17px !important;
}
h4 {
	font-size:16px !important;
}
.service_wrapper .col, .project_wrapper .col, .team_content .col {
	width:100%;
}
}
 @media (max-width: 440px) {
h1 {
	font-size:20px !important;
}
h2 {
	font-size:18px !important;
}
h3 {
	font-size:16px !important;
}
h4 {
	font-size:15px !important;
}
}
 @media (max-width: 400px) {
h1 {
	font-size:19px !important;
}
h2 {
	font-size:17px !important;
}
h3 {
	font-size:15px !important;
}
h4 {
	font-size:14px !important;
}
.portfolio_content .col, .gallery_content .col {
	width:100%;
}
}
 @media (max-width: 360px) {
}
 @media (max-width: 320px) {
.contact_form .col {
	width: 100%;
}
.footer .col {
	width:100%;
	margin-bottom:20px;
}
.footer address .details {
	margin-top: 0;
}
}
