#mask {
  position:absolute;
  left:0;
  top:0;
  z-index:999999999;
  background-color:#000;
  display:none;
}  
#boxes .window {
  position:absolute;
  left:0;
  top:0;
  width:auto;
  height:auto;
  display:none;
  z-index:99999999999999999;
  padding:20px;
}
#boxes #dialog {
  width:auto; 
  height:auto;
  padding:10px 10px 15px 10px;
  background-color:#ffffff;
A}